body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: green;
}

.btn {
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family:Verdana;
    font-weight:bold;
    font-size:13px;
    padding:6px 10px;
    border-color:#68b465;
    border: 2px solid #4CAF50;
    background:linear-gradient(to bottom, #abd5aa 5%, #68b465 100%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color:#fff;
    text-shadow:0px 1px 0px #528009;
    margin: 10px;
}
.btn:hover {
    display:inline-block;
    cursor:pointer;
    font-family:Verdana;
    background:linear-gradient(to bottom, #abd5aa 5%, #ffffff 50%);
    text-decoration:none;
    border-color:#fff;
    box-shadow:inset 0px 1px 0px 0px #e3f1e3;
    color: grey;
    text-shadow:0px 1px 0px #528009;
    margin: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
}

.title {
    font-family:Verdana;
    font-weight:bold;
    font-size:30px;
    color: white;
    border: solid;
    padding: 5px 10px;
    background:linear-gradient(to bottom, #abd5aa 5%, #68b465 100%);
    border-color:#68b465;
    border: 2px solid #4CAF50;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
}

.instrucoes{
    color: white;
    font-family:Verdana;
    font-weight:bold;
    font-size:15px;
    margin: 2px;
}